<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="makert.makert_demo.dao.ChargeMapper">
    <resultMap id="chargemap" type="Charge">
        <id property="id" column="id"/>
        <result property="charge" column="charge"/>
        <result property="ispay" column="ispay"/>
        <result property="paytime" column="paytime"/>
        <result property="remark" column="remark"/>
        <association property="oldman" column="oldid" javaType="Oldman">
            <id property="id" column="id"></id>
            <result property="old_name" column="old_name"></result>
        </association>
    </resultMap>
    <select id="findpayinfo" resultMap="chargemap">
        select c.*,o.old_name from charge c left join oldman o on c.oldid=o.id
        <where>
            <if test="oldid != null and oldid != ''">
                and oldid=#{oldid}
            </if>
            <if test="ispay != null and ispay != ''">
                and ispay=#{ispay}
            </if>
        </where>
        limit #{startRow},#{endRow}
    </select>
    <select id="findpaycount" resultType="int">
        select count(*)from charge
        <where>
            <if test="oldid != null and oldid != ''">
                and oldid=#{oldid}
            </if>
            <if test="ispay != null and ispay != ''">
                and ispay=#{ispay}
            </if>
        </where>
    </select>
    <delete id="delcharge" parameterType="int">
        delete from charge where id=#{id}
    </delete>
    <insert id="addchargesave" parameterType="Charge">
        insert into charge (oldid,charge,ispay,paytime,remark) values (#{oldid},#{charge},#{ispay},#{paytime},#{remark});
    </insert>
    <select id="findchargebyid" parameterType="int" resultType="Charge">
        select * from charge where id=#{id}
    </select>
    <update id="editchargesave" parameterType="Charge">
        update charge set charge=#{charge},ispay=#{ispay},paytime=#{paytime},remark=#{remark} where oldid=#{oldid};
    </update>
</mapper>