<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>日常检查页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="form2">
            <div class="layui-input-inline">
                <select  id="oldid" name="oldid">
                    <option value="0" style="display: none">--请选择老人--</option>
                    <option th:each="olist:${session.oldlist}" th:value="${olist.id}" th:text="${olist.old_name}" th:selected="${olist.id}==${session.oldkey}"></option>
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/health/addhealth')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span th:text="${totalCount}"></span> 条</span>
    </xblock>
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th width="20">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </th>
            <td>老人名称</td>
            <td>血压</td>
            <td>血糖</td>
            <td>血脂</td>
            <td>体温</td>
            <td>眼底</td>
            <td>骨密度</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody class="x-cate">
        <tr cate-id='1' fid='0' th:each="hlist:${healthList}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'>
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td><span th:text="${hlist.oldman.old_name}"></span></td>
            <td><span th:text="${hlist.bloodpressure}"></span>mmHg</td>
            <td><span th:text="${hlist.bloodsugar}"></span>mmol/L</td>
            <td><span th:text="${hlist.bloodfat}"></span>mmol/L</td>
            <td><span th:text="${hlist.temperature}"></span>℃</td>
            <td><span th:text="${hlist.eyes}"></span></td>
            <td><span th:text="${hlist.bone}"></span>T</td>
            <td class="td-manage">
                <a title="编辑" th:onclick="'javascript:healthedit(\''+${hlist.id}+'\')'" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                    <a title="删除" th:onclick="'javascript:olddel(\''+${hlist.id}+'\')'" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page">
        <div>
            <a class="prev"
               th:href="@{/health/oldhealth(currPage=${currPage}-1, oldid=${session.oldkey})}">&lt;&lt;</a>
            <span class="current" th:text="${currPage}"></span>
            <a class="next"
               th:href="@{/health/oldhealth(currPage=${currPage}+1, oldid=${session.oldkey})}">&gt;&gt;</a>
        </div>
    </div>
</div>
<script>

    function healthedit(id){
        x_admin_show("编辑","/health/edithealth/"+id);
    }

    layui.use(['form'], function () {
        form = layui.form;
    });

    function olddel(oldid) {
        var data = $.makeArray(oldid);
        layer.confirm('确认要删除吗？', function () {
            $.ajax({
                type: "post",
                url: "/health/delhealth",
                data: {"data":data},
                dataType: "json",
                success:function (result) {
                    if (result.success=="success") {
                        // $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000 ,end:function () {
                                // window.location.reload();
                                window.location.reload();
                            }});
                    }else {
                        layer.msg('删除失败!', {icon: 1, time: 1000});
                    }
                },error:function () {
                    layer.msg('删除失败!', {icon: 1, time: 1000});
                }
            });
        });
    }

    function delAll() {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？', function () {
            $.ajax({
                type: "post",
                url: "/health/delhealth",
                data: {data:data},
                traditional: true,
                dataType: "json",
                success:function (result) {
                    layer.msg('已删除!', {icon: 1, time: 1000 ,end:function () {
                            // window.location.reload();
                            window.location.reload();
                        }});
                },error:function () {
                    layer.msg('删除失败!', {icon: 1, time: 1000});
                }
            })
        });
    }
</script>
</body>
</html>